<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Регистрация</title>
</head>
<body style="background-color: #eaffea">

<form
      style="border-radius: 100px;
    width: 500px;
    height: max-content;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
background-color: white;"
      action="#" th:action="@{/reg}" th:object="${user}" method="post">

  <h1 style="text-align: center;">Регистрация</h1>

  <br><div class="mb-3">
  <label class="form-label" for="user_name">Имя пользователя: </label>
  <input class="form-control" type="text" th:field="*{user_name}" id="user_name" placeholder="Имя">
  </div>

  <br><div class="mb-3">
  <label class="form-label" for="user_password">Пароль: </label>
  <input class="form-control" type="text" th:field="*{user_password}" id="user_password" placeholder="Пароль">
  </div>

  <br><div class="mb-3">
  <label class="form-label" for="user_mail">Почта: </label>
  <input class="form-control" type="text" th:field="*{user_mail}" id="user_mail" placeholder="Почта">
  </div>

  <br><div class="mb-3" style="text-align: center;">
  <input class="btn btn-primary" type="submit" value="Зарегистрироваться">
  </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>